h1 {
    color : red;
}

tbody {
  background-color: rgb(209, 209, 209);
}

td, th{
padding: 0.5em;
text-align: center;
border-collapse:initial;
border: thin solid black;
}

main{
  margin-top: 60px;
}