<!doctype html >
{% extends "base.html" %}

{% block main %}
    <body>
      <h1>Contact :</h1>
      <table>
        <caption>
          Liste des contact de Célestin Maubert
        </caption>
        <thead>
          <tr>
            <th scope="col">Social Media</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">GitHub</th>
            <td><a href="https://github.com/korasrar">@korasrar</a></td>
          </tr>
          <tr>
            <th scope="row">Twitter</th>
            <td><a href="https://x.com/korasxoxo">@korasxoxo</a></td>
          </tr>
      </table>
    </body>
{% endblock %}