{% extends "base.html" %}
{% block main %}
    <h1>Liste des livres</h1>
    <p>Nombre de livres : {{ livres|length }}</p>
    {% if livres|length == 0 %}
        <p>Aucun livre trouvé.</p>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Url</th>
                <th>Première de couverture</th>
                <th>Auteur</th>
                <th>Actions possibles</th>
            </tr>
        </thead>
        <tbody>
        {% for unLivre in livres %}
            <tr>
                <td>{{ unLivre.idL }}</td>
                <td>{{ unLivre.Titre }}</td>
                <td>{{ unLivre.Prix }}</td>
                <td><a href="{{ unLivre.Url }}">{{ unLivre.Url }}</a></td>
                <td><img src="{{ url_for('static', filename='images/' + unLivre.Img) }}" alt="Image du Livre"></td>
                <td>{{ unLivre.auteur.Nom }}</td>
                <td>
                <div class="task-controls">
                <a href="{{ url_for('viewLivre', idL=unLivre.idL) }}" class="btn btn-nfo">Voir <i class="fas fa-eye"></i></a>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('updateLivre', idL=unLivre.idL) }}" class="btn btn-warning">Editer <i class="fas fa-pen"></i></a>
                {% endif %}
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}